[pylint]
disable=line-too-long,missing-class-docstring,invalid-name,missing-function-docstring,too-many-arguments,missing-module-docstring

[pylint.perf_traceviewer.__main__.py]
disable=wrong-import-position,consider-using-with

[pylint.perf_traceviewer.engine.py]
disable=too-many-locals

[pylint.perf_traceviewer.parse_perf_script.py]
disable=too-many-instance-attributes

[pylint.perf_traceviewer.parse_mdata.py]
disable=import-outside-toplevel

[pylint.perf_traceviewer.golden_tests.py]
disable=no-else-return,unspecified-encoding

[pylint.perf_traceviewer.trace_event.py]
disable=super-init-not-called

[pylint.perf_traceviewer.utils.py]
disable=too-few-public-methods
